@* Generator: Template TypeVisibility: Internal GeneratePrettyNames: True *@
@using System
@using System.Collections.Generic
@using System.Text.Json;
@using EmailTemplateLibrary.Dashboard
@using EmailTemplateLibrary.Dashboard.Pages
@using EmailTemplateLibrary.Model
@inherits RazorPage
@{
    Layout = new LayoutPage();
}

<div class="container">
    <h2>Templates</h2>
    <p>Edit view or delete templates</p>
    
    <p>
        <button type="button" class="btn btn-success" id="newTemplate">
            New Template
        </button>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Template Key</th>
                <th>Last Modified</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (Template t in Templates)
            {
                <tr>
                    <td>
                        <h5>@t.TemplateKey</h5>
                    </td>
                    <td>
                        <span>Last modified: @t.Modified</span>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary viewTemplate" data-templatekey="@t.TemplateKey">
                            View / Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger deleteTemplate" data-templatekey="@t.TemplateKey">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="modal fade" id="viewTemplateModal">
        <input type="hidden" id="isNewTeplate" value="false"/>
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="templateKeyInput">Template Key:</label>
                        <input id="templateKeyInput" type="text" class="form-control" value=""/>
                        <h5>Template</h5>
                        <textarea class="form-control" rows="5" id="templateTextInput"></textarea>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="saveNewTemplate" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>                    
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    @{
        <script>
            let librarytemplates = @Html.Raw(TemplatesJson);
        </script>
    }
</div>