@* Generator: Template TypeVisibility: Public GeneratePrettyNames: True *@
@using System
@using System.Globalization
@using System.Reflection
@using EmailTemplateLibrary.Dashboard
@inherits RazorPage
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email Template Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</head>
<body>
    <div id="wrap">
        <div class="container" style="margin-bottom: 20px;">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <ul class="list-inline credit">
                <li>
                    <a href="" target="_blank" rel="noopener noreferrer">
                        Email Template Library v0.0.1
                    </a>
                </li>
                <li>@Storage</li>
                <li>@Html.LocalTime(DateTime.UtcNow)</li>
            </ul>
        </div>
        <div id="templateConfig"
             data-baseurl="@(Url.To("/"))">
        </div>
    </div>
    @{ var version = GetType().GetTypeInfo().Assembly.GetName().Version; }
    <script src="@Url.To($"/js{version.Major}{version.Minor}{version.Build}0")"></script>
</body>
</html>